.cardsContainer {
  padding: 4rem 0.5rem;
  height: 100%;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    grid-gap: 2rem;
  }
}

@media only screen and (min-width: 768px) {
  .cardsContainer {
    padding: 4rem 4rem;

    .wrapper {
      grid-gap: 4rem;
    }
  }
}
